

img{
    width: 100%;
}
.about-start,
.as-inner{
    display: grid;
    gap: 30px;
    padding: 60px 100px;
    margin: auto;
    max-width: 1400px;
}


/* From Uiverse.io by ernestnash */ 
.contact-button {
    margin-top: 20px;
    width: 150px;
    display: inline-block;
    padding: 0.5rem 1.8rem;
    font-size: 16px;
    font-weight: 500;
    color: var(--bs-red);
    border: 1px solid var(--bs-red);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 100000px;
   }

   .contact-button:hover{
    color: white;
   }
   
   .contact-button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bs-red);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .contact-button:hover::before {
    transform: translateX(0);
   }

.about-start{
    margin-top: 5px;
    grid-template-columns: repeat(2, 1fr);
    .start-left{
        display: flex;
        flex-direction: column;
        gap: 15px;

        p span{
            font-weight: 600;
            color: var(--bs-red);
            font-size: 18px;
        }

    }
    h4{
        color:var(--bs-gray);

    }
    h1{
        font-size: 45px;
    }


    .start-right{
        display: grid;
        place-content: center;
    }
    img{
        width: 500px;
        max-width: 100%;
        

    }

}
.bg-container{
    background-color: white;
}

.about-second{
    width: 100%;
    background-color: #fdf8fa;

    .as-inner{

        h1{
            width: fit-content;
            margin: auto;
            text-align: center;
        }

        .second-top{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            border-bottom: 2px solid #ed386538;
            padding: 40px 0px;
            padding-bottom: 110px;
            gap: 30px;
            

            .second-left{
                
                h2{
                    font-size: 25px;
                    /* margin-top: 30px; */
                    max-width: 450px;
                }
            }

            .second-right{

                p{
                    font-size: 15.5px;
                    color: rgb(196, 163, 173);
                }

               
            }
        }
        .second-bottom{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 40px;
            padding: 40px 0px;
            padding-bottom: 70px;
    
        }
        .second-bottom .sb-card{
            min-height: 260px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            justify-content: center;
            align-items: center;
            flex: 1 1;
            text-align: center;
            min-width: 280px;

            h1{
                color: var(--bs-primary);
                font-size: 30px;
            }

            .svg-container{
                height: 45px;
                width: 100%;
                svg{
                    height: 100%;
                }
                svg.big{
                    transform: scale(1.3);
                }
            }
        }

    
    }
}

.about-third{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;

    img{
        max-width: 750px;
        width: 100%;
        height: 100%;
        background-color: grey;
        margin-top: -100px;
        object-fit: contain;
        
        
    }

    .ts-bottom{
        margin-top: 85px;
        padding: 20px 40px;
        box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.116);
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 25px;
        width: calc(100% - 20px);
        max-width: 850px;
        justify-content: space-between;
        flex-wrap: wrap;

        .tsb-left{
            max-width: 60%;
            min-width: 350px;
        }

    }
}


  .our-people{
    background-color: white;

    .as-inner{

        h1{
            width: fit-content;
            margin: auto;
        }
        .positions{
            text-align: center;
            max-width: 650px;
            width: fit-content;
            margin: auto;
        }

        .flexy-people{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;

            .flexy-left,
            .flexy-right{
                min-width: calc(50% - 20px);
                display: flex;
                flex-direction: column;
                gap: 20px;
                

                .flexy-card{
                    overflow: hidden;
                    position: relative;
                    padding: 20px 10px;
                    display: flex;
                    gap: 30px;
                    border-radius: 10px;
                    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.178);
                    /* background-color: wheat; */
                    svg{
                        width: 100px;
                        height: 100px;
                        position: relative;
                        z-index: 2;
                        fill: rgb(243, 243, 243);
                    }

                    .fc-title{
                        font-size: 23px;
                        font-weight: 600;
                        color: black;
                    }

                    P{
                        display: flex;
                        font-size: 14px;
                        :nth-child(1){
                            width: 70px;
                            font-weight: 600;
                            
                        }
                        
                    }

                }

                .flexy-card::before{
                    content: '';
                    position: absolute;
                    width: 180px;
                    height: 200%;
                    left: -100px;
                    top: -100px;
                    background-color: var(--bs-primary);
                    z-index: 0;
                    transform: rotate(30deg);
                    opacity: .6;
                }
            }


        }
    }


  }

.history-inner{
    width: 100%;
    max-width: 850px;
    margin: auto;
    margin-bottom: 80px;
    text-align: center;
    padding: 40px 0px;
    
}


.switcher{
    width: 100%;
    text-align: center;

    .as-inner{
        gap: 5px;
    }

    .properties{
        font-size: 15px;
        font-weight: 500;
        color: var(--bs-grey);
        padding: 20px 0px;
    }

    .current-property{
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 30px;
        color: var(--bs-dark);

    }
    
    .property-desc{
        /* font-size: 14.5px; */
        span{
            color: var(--bs-red);
            font-weight: 600;
            font-size: 20px;
        }
    }

    .current-description{
        height: fit-content;
        padding: 10px;
        padding-bottom: 20px;
        .property-desc{
            opacity: 1;
            transition: opacity 150ms ease;
            visibility: visible;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 850px;
            margin: auto;
        }
        .hidden{
            visibility: hidden;
            opacity: 0;
            height: 0px;
        }
    }


    .property-switching{
        width: 100%;
        /* display: flex; */
        flex-wrap: wrap;
        justify-content: space-between;
        /* margin-top: 20px; */

        .switch-btns{
            display: flex;
            /* flex-direction:column ; */
            gap: 10px;
            margin: 40px auto;
            width: fit-content;

            button{
                width: fit-content;
                min-width: 80px;
                padding: 16px 0px;
                border: 1px solid rgba(128, 128, 128, 0.021);
                border-radius: 8px;
                font-size: 11px;
                background: transparent;
                color: var(--bs-dark);



            }
            button.active{
                box-shadow: 0px 3px 7px 2px rgba(255, 0, 0, 0.137);
                color: var(--bs-primary);

            }
        }

        .property-contaianers{
            width: 100%;
            /* max-width: 750px; */
            
            position: relative;
            height: fit-content;
            margin: auto;


            .property-container{
                width: 100%;
                height: 100%;
                opacity: 1;
                transition: opacity 150ms ease;

                img{
                    width: 100%;
                    max-width: 100%;
                    /* height: 100%; */
                    max-height: 600px;
                    object-fit: cover;
                    border-radius: 12px;
                    margin: auto;
                }
                
            }

            .hidden{
                opacity: 0;
                height: 0px;
                overflow: hidden;
            }

        }
    }


}


  

.footer{
    margin-top: 100px;
}






@media (max-width:1220px) {

    .about-start,
    .about-second .as-inner .second-top{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1050px){

    .our-people{
    
        .as-inner{
    
            .flexy-people{
                .flexy-left,
                .flexy-right{
                    width: 100% ;
                    
                }
    
    
            }
        }
    
    
      }
}

@media(max-width: 810px){
    .about-start,
    .as-inner{
        padding: 60px 50px;
    }
}

@media(max-width: 670px){
    .fbc-inner{
        justify-content: center;
    }
    .full-bleed-card-container{
        min-height: 790px;
    }
}

@media (max-width: 450px){
    .about-start  {
        h1{
            font-size: 25px;
        }
        img{
            width: 250px;
        }
    }

    .about-start,
    .as-inner{
        padding: 30px 20px;
    }

   

    .about-third{
        .ts-bottom{
            .tsb-left{
                min-width: 100%;
            }
        }
    }

    .our-people{
    
        .as-inner{
    
            .flexy-people{
                .flexy-left,
                .flexy-right{
                    width: 100% ;

                    .flexy-card{
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        
                    }
                    
                }
    
    
            }
        }
    
    
      }
    
}