.map-container.secondary{
    display: none;
}
.contact-container{
    width: calc(100% - 20px);
    max-width: 1200px;
    margin: auto;
    /* background-color: red; */
    box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.116);
    margin: 50px auto;
    border-radius: 8px;
    overflow: hidden;
    

}


.contact-inner{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 40px 80px;
    gap: 30px;
}

.google-map{
    width: 100%;
    height: 100%;
}

.c-inner-left{
    width: 100%;
    /* background-color: blue; */
    box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.116);
    padding: 50px;
    border-radius: 8px;
    

    p{
        display: none;
    }
    form{
        width: 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;

    }
    form-input{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
    input,
    textarea{
        padding: 10px 20px;
        min-width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.336);
        outline: none;
        border-radius: 6px;

    }

    
    textarea:focus{
        border: 1px solid var(--bs-gray-dark);

    }

    h2{
        font-weight: 600;
    }
   



    .label{
        font-size: 14.2px;
        color: rgb(128, 128, 128);
    }
   
  
    /* From Uiverse.io by satyamchaudharydev */ 
    .input-box {
        --width-of-input: 100%;
        --border-height: 1px;
        --border-before-color: rgba(221, 221, 221, 0.39);
        --border-after-color: var(--bs-gray-dark);
        --input-hovered-color: #d239580e;
        position: relative;
        width: var(--width-of-input);
    }
   /* styling of Input */
   .input {
    color: var(--bs-gray-dark);
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
   }

   .input::placeholder{
    opacity: 0.4;
   }
   /* styling of animated border */
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
   }
   /* Hover on Input */
   input:hover {
    background: var(--input-hovered-color);
   }
   
   input:focus {
    outline: none;
   }
   /* here is code of animated border */
   input:focus ~ .input-border {
    width: 100%;
   }

   button{
    padding: 12px 20px;
    width: 100%;
    border-radius: 100000px;
    border: none;
    background-color: var(--bs-red);
    color: var(--bs-white);
    font-size: 15px;
    cursor: pointer;
    font-weight: 400;
   }

    
    
}


.c-inner-right{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    h4{
        color: var(--bs-secondary);
    }
    p{
        color: var(--bs-dark);
        font-size: 15px;
        margin-top: 30px;
    }

    .map-container.main{
        height: 650px;
        margin-top: 30px;
    }
    
    
    .socials-dismissible{
        display: flex;
        gap: 10px;
    }
}


@media (max-width: 1240px){
    .contact-inner{
        padding: 40px;
    }
}

@media (max-width: 1155px) {

    .contact-container{
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
    }
    .contact-inner{
        grid-template-columns: repeat(1, 1fr);
    }

    .c-inner-left{
        text-align: center;
        margin-top: -100px;
        background-color: white;
        /* background-color: blue; */
    
        p{
            display: block;
        }
        form{
            text-align: left;
        }

        
        
    }
    
    .map-container.secondary{
        display: block;
        width: 100%;
        height: 150px;
    }

    .c-inner-right{
        display: none;
    }

}

@media (max-width: 810px) {
    .contact-inner{
        padding: 40px 20px;
    }

}

@media (max-width: 450px) {
    .map-container.secondary{
        display: block;
        width: 100%;
        height: 250px;
    }

    .contact-inner{
        padding: 40px 0px;
    }

    .c-inner-left{
        
        padding: 50px 10px;
    }
    
}