body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: fit-content;
}
.main-content{
    flex: 1;
}

.hero{
    width: 100%;
    /* height: 95vh; */
    position: relative;
    /* max-height: 900px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding: 50px 80px;
    max-width: 1600px;
    margin: 40px auto;

    /* background: linear-gradient(90deg, rgba(203,45,62,1) 19%, rgba(239,71,58,1) 77%, rgba(239,71,58,1) 91%); */

}

.hero::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(255, 0, 0);
    opacity: 0;
    left: 0;
    top: 0;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 450px;
    margin: auto;
    
}

.hero-text{
    color: black;
   
}

.hero-text h1{
    font-size: 55px;

}


.hero .hero-bg{
    width: 100%;
    background: transparent;
    margin: auto;
}

.pattern-hero-bg{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    max-height: 100px;
    height: 100px;
    z-index: 3;
}

.contact-btn {
    width: 150px;
    display: inline-block;
    padding: 0.5rem 1.8rem;
    font-size: 16px;
    font-weight: 500;
    color:var(--bs-red);
    border: 1px solid var(--bs-red);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 100000px;
}

.contact-btn:hover{
    color: white;
}

.contact-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bs-red);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.contact-btn:hover::before {
    transform: translateX(0);
}

.hero-curve{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.full-bleed{
    background-color: rgba(255, 0, 0, 0.018);
    padding: 50px 0px;
}

.services-text{
    text-align: center;
    max-width: 500px;
    margin: 40px auto;
    margin-top: 85px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.services-text p{
    font-size: 13px;
}
.services-text .highlight{
    color: white;
    margin: 0;
    padding: 0px 20px;
    background: linear-gradient(90deg, rgba(203,45,62,1) 19%, rgba(239,71,58,1) 77%, rgba(239,71,58,1) 91%);
}

.service-badge{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: fit-content;
    border-radius: 1000px;
    height: fit-content;
    padding: 2px 20px;
}

.service-badge h2{
    margin: 0;
}

.service-cards{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 100px;
    gap: 20px;
    padding: 0px 20px;
}

.service-cards .card{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 250px;
    border: none;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.136);
    cursor: pointer;
    overflow: hidden;
    height: fit-content;

}

.service-cards .card .card-upper{
    padding: 20px;
}

.service-cards .card p{
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;

}

.service-cards .card .extra{
    display: none;
}

.service-cards .card.active .extra,
.service-cards .card.active p{
    display: -webkit-box;
    -webkit-line-clamp: unset; 
}

.service-cards .card button{
    width: 100%;
    background-color: var(--bs-red);
    color: white;
    border: none;
    padding: 5px 10px;
}


.service-cards .card svg{
    fill: var(--bs-red);
}

.cards-title h1{
    color: var(--bs-primary);
}

.service-cards .card svg{
    height: 45px;
    width: 45px;
}

.service-cards .card:hover h4,
.service-cards .card:hover p{
    color: white;
}

.service-cards .card.active:hover h4,
.service-cards .card.active:hover p{
    color: black;
}

.service-cards .card:hover button{
    background-color: white;
    color: black;
}

.service-cards .card.active:hover button{
    background-color: var(--bs-primary);
    color: white;
}

.service-cards .card:hover{
    background-color: var(--bs-red);
    transform: translateY(-5px);
}

.service-cards .card.active:hover{
    background-color: white;
}

.service-cards .card.active:hover svg{
    fill: var(--bs-red);
}

.service-cards .card:hover svg{
    fill: white;
}

.about-third{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
}


.about-third img{
    max-width: 750px;
    width: 100%;
    height: 100%;
    background-color: grey;
    margin-top: -100px;
    object-fit: contain;
    
    
}

.about-third .ts-bottom{
    margin: 85px 0px;
    padding: 20px 40px;
    box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.116);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 25px;
    width: calc(100% - 20px);
    max-width: 850px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-third .ts-bottom .tsb-left{
    max-width: 60%;
    min-width: 350px;
    margin: auto;
}
.about-third .ts-bottom .tsb-right{
    margin: auto;
}

@media (max-width: 810px) {

    .service-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    

    .hero .hero-bg{
        min-width: 0;
        width: 100%;
    }

    
    .hero{
        padding: 50px ;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .hero-text{
        align-items: center;
        justify-content: center;
    }

    .hero-text h1{
        font-size: 35px;
    }

    
    
}

@media (max-width: 600px){


    
    .service-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 450px){

    .hero{
        padding: 50px 10px ;
    }
   

    .about-third .ts-bottom .tsb-left{
        min-width: 100%;
    }
    .about-third .ts-bottom .tsb-right{
        margin: auto;
    }
}