
.page-title{
    /* background-color: red; */
    width: 100%;
    padding: 10px 0px;
    max-width: 1380px;
    margin: auto;
    

    p{
        width: fit-content;
        
        max-width: 1380px;
        /* background-color: #dc35461e; */
        font-size: 38px;
        font-weight: 400;
        color: var(--bs-red);
    }

    span{
        display: block;
        width: 100%;
        max-width: 325px;
        height: 2px;
        background-color: var(--bs-red);
        margin-top: -15px;

    }
}

.page-content{
    width: 100%;
    max-width: 1400px;
    height: fit-content;
    margin: auto;
    min-height: 100vh;
    /* display: flex; */


    .breadcrumb-nav{
        position: sticky;
        top: 100px;
        width: 100%;
        padding: 20px 10px;
        padding-right: 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        height: fit-content;
        background-color: var(--bs-white);
        z-index: 2;

        .refinement{
            max-width: 200px;
            position: relative;
            width: 100%;
            /* background-color: blue; */
            cursor: pointer;
            /* border-bottom: 1px solid rgba(128, 128, 128, 0.192); */
            padding: 10px 0px;
            height: fit-content;
            flex:  1 1;
            min-width: 200px;
            
            .label{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                gap: 10px;
                color: var(--bs-red);
                pointer-events: none;
                padding: 5px 20px;
                border: 1px solid var(--bs-red);
                border-radius: 8px;
                font-size: 14px;

                span{
                    max-width: 190px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                svg{
                    transition: transform 150ms ease;

                    fill: var(--bs-red);

                }


                .svg-container{

                    svg{
                        fill: var(--bs-primary);
                    }
                     
                    .inactive{
                        display: block;

                    }

                    .active{
                        display: none;
                    }
                }

                
            }
            
            .label.active{
                svg{
                    transform: rotate(180deg);
                }
                .svg-container{

                    .inactive{
                        display: none;
                    }
                     
                    .active{
                        display: block;
                    }

                    
                }
            }
           

            .collapsable{
                position: absolute;
                left: 0;
                width: 100%;
                background-color: rgb(236, 236, 236);
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                transition: opacity 200ms ease;
                opacity: 0;
                pointer-events: none;
                z-index: 10;
                /* background-color: red; */
                
                a{
                    display: flex;
                    align-items: center;
                    text-align: left;
                    padding-left: 5px;
                }
                .filter-chip{
                    width: 100%;
                    border: none;
                    position: relative;
                    height: 45px;
                    margin-left: auto;
                    text-align: left;
                    color: var(--bs-gray);
                    padding: 5px 15px;
                    
                    
                }

                .filter-chip:hover{
                    background-color: #d4d4d418;
                }


                .filter-chip::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 20px;
                    height: 100%;

                }

                .filter-chip.active{
                    background-color: #dc354662;
                    color: var(--bs-white);

                }
            }

            .collapsable.show{
                opacity: 1;
                pointer-events: all;
                
            }


        }


    }

    .filtered-content-container{
        flex-grow: 1;
        min-width: 0;
       

        .filtered-content{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: fit-content;

            .filtered-card{
                cursor: pointer;
                width: 25%;
                height: fit-content;
                padding: 20px;
                /* display: grid;
                grid-template-columns: 20% 80%; */
                /* background-color: red; */
                box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0);
                transition: transform 200ms ease;
                

                

                .filtered-card-inner{
                    box-shadow: 0px 0px 10px 10px rgba(233, 180, 180, 0.144);
                    padding: 0px 0px;
                    border-radius: 6px;
                    padding-bottom: 30px;
                    /* background: radial-gradient(circle, rgba(220,53,69,1) 0%, rgba(254,226,226,1) 0%, rgba(255,224,224,1) 17%, rgba(254,226,226,1) 27%, rgba(252,228,228,1) 49%, rgba(252,228,228,1) 51%, rgba(242,242,242,1) 100%); */
                    

                }


                .fc-top{
                    display: grid;
                    padding: 0px 0px;
                    overflow: hidden;
                    position: relative;
                    img{
                        width: 100%;
                        margin: auto;
                        object-fit: cover;

                    }
                    /* background-color: var(--bs-primary); */
                    border-radius: 8px 8px 0px 0px;

                    .btn-container{
                        opacity: 0;
                        position: absolute;
                        width: 100%;
                        left: 0;
                        top: 0;
                        background-color: rgba(0, 0, 0, 0.432);
                        height: 100%;
                        display: grid;
                        place-content: center;
                        transition: opacity 200ms ease;
                        backdrop-filter: blur(5px);


                        
                        a{
                            width: 150px;
                            display: inline-block;
                            padding: 0.5rem 1.8rem;
                            font-size: 16px;
                            font-weight: 500;
                            color: var(--bs-red);
                            border: 1px solid var(--bs-red);
                            cursor: pointer;
                            position: relative;
                            background-color: transparent;
                            text-decoration: none;
                            overflow: hidden;
                            z-index: 1;
                            font-family: inherit;
                            border-radius: 100000px;
                            margin: auto;
                            }
                        
                          

                    }
                }

               
          


                .fc-bottom{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    text-align: left;
                    margin-top: 10px;
                    padding: 0px 30px;
                    position: relative;

                    

                    :nth-child(1){
                        font-weight: 600;
                        font-size: 18px;
                        color: var(--bs-primary);
                    }

                    
                }

                .fc-bottom::after{
                    content: '';
                    position: absolute;
                    right: 20px;
                    bottom: 5px;
                    width: 50px;
                    height: 50px;
                    background-image: url('../img/retail-2.png');
                    background-size: contain;

                }

    
            }

            .filtered-card:hover{
                transform: translateY(-20px);

                .btn-container{
                    opacity: 1;

                    
                    a{
                        color: white;
                        }
                        
                        a::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: var(--bs-red);
                        transform: translateX(-100%);
                        transition: all .3s;
                        z-index: -1;
                        }
                        
                        a::before {
                        transform: translateX(0);
                        }

                }
            }

        }
        
    }


}


@media (max-width: 1430px) {

    .page-title{
        padding: 10px 10px;
    }
    
    
}


@media (max-width: 1050px) {

    .page-content{
        .breadcrumb-nav{
            width: 100%;
            /* width: fit-content; */

           
        }

        .filtered-content-container{
            .filtered-content{
                .filtered-card{
                    width: 33.33333333%;
                }
            }
        }
    }

   
    
    
}

.no-content{
    width: 100%;
    max-width: 450px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;

    svg{
        width: 70px;
        height: 70px;
        fill: var(--bs-red);
    }
    button{
        background-color: transparent;
        border: none;
        margin-top: 20px;
        color: var(--bs-red);
    }
}

.no-content{
    .special.hidden,
    .regular.hidden{
        display: none;
    }

    .special{
        display: flex;
        flex-direction: column;
        gap: 10px;

        P{
            color: var(--bs-gray-dark);
            font-size: 22px;
            max-width: 350px;
            width: 100%;
            padding: 0px 10px;


            span{
                /* font-size: 25px; */
                color: var(--bs-primary);
                font-weight: 600;
            }
        }

        svg{
            width: 150px;
            height: 150px;
            margin: auto;
        }
        
    }
}

.no-content.hidden{
    display: none;
    
}




@media (max-width: 810px) {

    .page-content{


        
        .breadcrumb-nav{
            /* display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-self: center; */
    
            
        }
    }

    

    .page-content{
        .filtered-content-container{
            .filtered-content{
                .filtered-card{
                    width: 50%;
                }
            }
        }
    }
   
    
    
}

@media (max-width: 500px) {

    
.page-title{

    p{

        font-size: 30px;
    }

    span{
        max-width: 260px;
    }
}
.page-title{
    width: fit-content;
}

.page-content{
    
    .breadcrumb-nav{
       flex-direction: column;
       align-items: center;

        .refinement{
            max-width: 140px;
            margin: auto;
        }
    }
    .filtered-content-container{
        .filtered-content{
            .filtered-card{
                width: 100%;
            }
        }
    }
}


   
    
    
}